@import url("./about-hero.css");
@import url("./who.css");
@import url("./process.css");
@import url("./mission.css");
@import url("./benefits.css");
@import url("./team.css");
.wrapper {
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
  padding: 0 120px;
}
